<!--Interface-->
<div class="row">
    <div class="col-xs-3 col-md-3">
        <h4 class="text-muted-more">Chart #{{cdOrder}}</h4>
    </div>
    <div class="col-xs-4 col-md-4">
        <a class="nav-link-button" style="top:8px" ng-click="recalculate()">randomize</a>
    </div>

  <!--  <div class="col-md-1 "><span >тип:</span></div>-->
    <div class="col-xs-4 col-md-4">
        <select id="chart-type" data-ng-model="type" class="form-control">
            <option value="line">Линия</option>
            <option value="bar">Диаграмма</option>
        </select>
    </div>
    <div class="col-md-1"></div>
</div>

<!--Chart-->
<div class="row">
    <div class="col-lg-12">
        <canvas chart-base="" chart-type="type" chart-data="data" chart-labels="labels" chart-series="series" chart-click="onClick" chart-options="options" ></canvas>
    </div>
</div>
<br>