<hr>

<!--Dashboard-->
<div class="row">
    <div class="col-md-2">
        <h3  style="cursor: default; margin-top: 28px;" class="text-muted-more" title="location">{{location}}</h3>
    </div>
    <!--Data Picker-->
    <div class="col-md-2">
        <label>Start date:</label>
        <input type="date" class="form-control" ng-model="dates.start">
    </div>
    <div class="col-md-2">
        <label>End date:</label>
        <input type="date" class="form-control" ng-model="dates.end">
    </div>

    <!--Controls-->
    <div class="col-md-2">
        <a class="nav-link-button" ng-click="addChart()">Add chart +</a>
    </div>
</div>

<hr>

<!--Charts-->
<div class="container">
    <div class="row ">
        <div class="col-lg-6" ng-repeat="item in charts">
            <data-chart-dir dashboard-dates="dates" dashboard-data-values="weatherDataValues" chart-id="{{item}}" chart-order="{{$index+1}}" chart-remove="removeChart" cd-sensors="sensors"   cd-sensors-all-data="$ctrl.sensorsNames" ></data-chart-dir>
        </div>
    </div>
</div>

